.details{
  display: flex;
}

.overview{
  width: 400px;
}
.movie{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  border: 1px solid black;
  height: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.info{
  margin: 10px 0;
}

.imgTitle{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 8px 0;
}

.title{
left: auto;
}

.container{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 30px;
  margin-right: 20px;
}

hr{
  width: 400px;
}


