.info {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title a {
  text-decoration: none;
  color: #f3dede;
}

.title a:hover {
  color: #2079bd;
}

.movie {
  border: 1px solid #181818;
  height: 380px;
  border-radius: 10px;
  background-color: #424244;
  display: flex;
  flex-direction: column;
}

.movie:hover{
  box-shadow: 0 10px 15px 4px rgba(58,43,64,0.56);
  -webkit-box-shadow: 0 10px 15px 4px rgba(58,43,64,0.56);
  -moz-box-shadow: 0 10px 15px 4px rgba(58,43,64,0.56);
}
.movie img{
  border-radius: 10px;
}

.movie:hover{
  transform: translateY(-8px);
  cursor: pointer;
}
